<div class="character">
  <!-- animate__zoomInDown, animate__swing, animate__fadeIn -->
  <div class="character-image">
    <img class="" src="{{ character?.image }}" alt="{{ character?.name }}">
  </div>

  <div class="character-body">
    <div class="section">
      <h2 class="card-title"> {{ character?.name?.slice(0, 17) }} </h2>
      <span class="status">
        <span [class.status_icon_alive]="character?.status === 'Alive'" [class.status_icon_dead]="character?.status === 'Dead'"
        [class.status_icon_unknown]="character?.status === 'unknown'"></span>
        {{ character?.status }} - {{ character?.species}} - {{ character?.gender }}
      </span>
    </div>
    <div class="section">
      <span class="text-gray">First seen in:</span>
      <p class="card-text">{{ character?.origin?.name }}</p>
    </div>
    <div class="section">
      <span class="text-gray">Last known location:</span>
      <p class="card-text">{{ character?.location?.name }}</p>
    </div>

  </div>
</div>

